<form method="POST" action="/new">
    <h3>New messages</h3>
    <input type="text"  id="user" name="user"  />
    <input type="text"  id="text" name="text" />
<button type="submit">Submit</button>
</form>